<!-- vue-ex-2-1.html -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>张浩</title>
		<style type="text/css">
			.fields {
				width: 550px;
				height: 250px;
				padding: 50px;
				margin: 0 auto;
				text-align: center;
			}

			input {
				border-radius: 6px;
				height: 25px;
				border: 1px dotted black;
			}

			[type="submit"],
			[type="reset"] {
				margin: 10px 10px;
				height: 35px;
				width: 150px;
				padding: 0 20px;
			}
		</style>
		<script type=text/javascript src="vue.global.js"></script>
	</head>
	<body>
		<div id="app">
			<form :class="info">
				<fieldset >
					<legend align="center">Web技术大学新生报道信息核对</legend>
					姓名：<input type="text" v-model="name">
					学号：<input type="text" v-model="no">
					<hr>
					报道学院：<input type="text" v-model.lazy="college" @keyup="getSummary"/>
					所属专业：<input type="text" list="zy" v-model="speciality" @keyup="getSummary" /><br>
					<datalist id="zy">
						<option value="计算机科学与技术" />
						<option value="电子信息工程" />
						<option value="会计学" />
						<option value="审计学" />
						<option value="电气工程及自动化" />
						<option value="环境工程" />
						<option value="环境艺术艺术" />
					</datalist>
					所属班级：<input type="text" v-model="className" @keyup="getSummary" />
					入住宿舍：<input type="text" v-model="room" @keyup="getSummary"><br>
					信息汇编：<input type="text" size="58" readonly v-model="summary"/>
					<p>
						<input type="submit" name="" id="" value="提交" />
						<input type="reset" name="" id="" value="重置" />
					</p>
				</fieldset>
			</form>
		</div>
		<script>
			const { createApp } =Vue
			createApp({
				data(){
					return{
						info:"fields",
						name:"",
						no:"",
						college:"",
						speciality:"",
						className:"",
						room:"",
						summary:""

					}
				},
				methods:{
					getSummary(){
						this.summary=this.college + " " +this.speciality
						+ " " + this.className + "班的" + this.name + "同学入住"
						+ this.room

					}

				},
				watch:{
					college(newVal,oldVal){
						this.college = newVal;
						console.log("原来的学院："+oldVal);
					}
				}
			}).mount("#app")
		</script>	
	</body>
</html>