/*顶部通栏*/

.heima_topBar{
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    position: relative;
    z-index: 1001;
}

.heima_topBar a{
    color: #666;
}

.heima_topBar a:hover{
    color: #666;
}

.heima_topBar>.container>.row>div{
    height: 40px;
    line-height:40px;
    text-align: center;
}

.heima_topBar>.container>.row>div+div{
    border-left: 1px solid #ccc;
}

.heima_topBar .heima_btn_register{
    color: #fff;
    padding: 3px 15px;
}

.heima_topBar .heima_btn_register:hover{
    color: #fff;
}

.heima_topBar .heima_btn_register:focus{
    box-shadow: none;
}

.heima_topBar .heima_icon_phone{
    font-size: 1rem;
}

.heima_app{
    position: relative;
    display: block;
}

.heima_app img{
    display: none;
}

.heima_app:hover img{
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: -60px;
}

/*导航栏*/

.heima_nav{
    border-bottom: 1px solid #ccc;
}

.heima_nav .navbar-brand{
    height: 60px;
}

.heima_nav .navbar-nav>.nav-item>a{
    color: #777;
    height: 60px;
    line-height: 40px;
}

.heima_nav .heima_nav>.nav-item>.a:hover,
.heima_nav .heima_nav>.nav-item>.a:focus{
    color: #333;
    border-bottom: 3px solid #E92322;
}

/*轮播图*/

.heima_banner picture img{
    height: 410px;
    width: 100%;
    object-fit: cover;
}

@media (max-width:767px){
    .heima_banner picture img{
        object-fit: fill;
        width: 100%;
        height: auto;
    }
}

/*产品信息*/

.heima_info{
    padding-top: 30px;
    border-bottom: 1px solid #ccc;
}

.heima_info a{
    text-decoration: none;
}

.heima_info .heima_icon{
    font-size: 30px;
}

.heima_info .col-md-6{
    padding: 10px;
}

.heima_info a:hover{
    color: #E92322;
}

.heima_info h4, .heima_info .h4{
    font-size: 18px;
}

/*预约交易*/


.heima_book{
    padding: 25px 50px;
    border-bottom: 1px solid #ccc;
}

.heima_book>.container{
    overflow: hidden;
}

.heima_book .heima_icon{
    font-size: 24px;
}

.heima_book a{
    text-decoration: none;
}

.heima_book a:hover{
    color: #E92322;
}

.heima_book .book_link{
    color: #E92322;
    border-bottom: 1px dashed #E92322;
}

